.intro {
  &-img {
    background-image: url("./pexelsphoto1571460.jpeg");
    background-size: cover;
    width: 100vw;
    height: 80vh;
    
  }
  &-text {
    position: relative;
    top: 0;
    left: 5vw;
    font-size: 44px;
  }
  &-contacts{
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom:13vh;
      right: 1rem;
      padding:1rem 1rem;
      background-color: #ffcc01;
  }
  &-contacts p{
margin: 0 1rem;
  }
}
.wrapper {
  display: flex;

  justify-content: flex-end;
}
@media all and(max-width:765px){
    .wrapper{
      flex-direction: column;
      align-items: stretch;
      overflow: hidden;
      border: 1px double blue;
      .intro-contacts{
        position: static;
        margin: 0 0 ;
      }
    }
    .intro{
      &-img{
     
      }
    }
}
